Enter 10 cities then print those cities containing k in it and also print cities not containing k in it

In [12]:
ls_cities=["karachi","lahore", "hyderabad","faislabad","islamabad","rawalpindi","peshawar","sukkur","quetta","larkana"]
for i in ls_cities:
    if 'k' in i:
        print("City with k are",i)
        
for i in ls_cities:
    if 'k' not in i:
        print("City without k are",i)

City with k are karachi
City with k are sukkur
City with k are larkana
City without k are lahore
City without k are hyderabad
City without k are faislabad
City without k are islamabad
City without k are rawalpindi
City without k are peshawar
City without k are quetta

Print cities with k are one of the best cities.

In [18]:
ls_cities=["karachi","lahore", "hyderabad","faislabad","islamabad","rawalpindi","peshawar","sukkur","quetta","larkana"]
for i in ls_cities:
    if 'k' in i:
        print(i,"is one of the cleanest cities")

karachi is one of the cleanest cities
sukkur is one of the cleanest cities
larkana is one of the cleanest cities

Print list of student names, ages, and marks and then print information with the help of student names.

In [28]:
student_names=["arif","kamran","sarman","asad","imran","sameer","nasir","rafeeq","rasheed","fareed"]
student_marks=[70,80,90,60,65,67,100,99,77,55]
student_ages=[15.6,16.7,15.8,14.9,16.0,14.1,13.2,16.5,19.2,14.4]
index=student_names.index("asad")
print("Index of Asad is",index)
print("Marks of Asad is",student_marks[index])
print("Age of Asad is",student_ages[index])

Index of Asad is 3
Marks of Asad is 60
Age of Asad is 14.9

Now do above program by taking input by user.

In [50]:
student_names=["arif","kamran","sarman","asad","imran","sameer","nasir","rafeeq","rasheed","fareed"]
student_marks=[70,80,90,60,65,67,100,99,77,55]
student_ages=[15.6,16.7,15.8,14.9,16.0,14.1,13.2,16.5,19.2,14.4]
input_st_name=input("Enter name from above list: ")
if input_st_name!=student_names:
    print("Name doesnot exist in list. Please check your splling and try again!")
index=student_names.index(input_st_name)
print("Index of",input_st_name,"is",index)
print("Marks of Asad",input_st_name,"is",student_marks[index])
print("Age of Asad",input_st_name,"is",student_ages[index])

Enter name from above list: arif
Name doesnot exist in list. Please check your splling and try again!
Index of arif is 0
Marks of Asad arif is 70
Age of Asad arif is 15.6

In [34]:
student_names=["arif","kamran","sarman","asad","imran","sameer","nasir","rafeeq","rasheed","fareed"]
student_marks=[70,80,90,60,65,67,100,99,77,55]
student_ages=[15.6,16.7,15.8,14.9,16.0,14.1,13.2,16.5,19.2,14.4]
loc=student_names.index('sarman')
print(loc)
student_mark=student_marks[loc]
student_age=student_ages[loc]
print("student info:",student_mark,student_age)

2
student info: 90 15.8